<%= form_for @conference_form do |f| %>
  <% if @conference_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference_form.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Conference Details</h3>

  <div class="form-group">
    <%= f.label :name, "Conference Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <h3>Speaker Details</h3>

  <%= f.fields_for :speaker do |speaker_fields| %>
    <%= render "speaker", f: speaker_fields %>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
