<div class="nested-fields">
  <div class="form-group">
    <%= f.label :topic %>
    <%= f.text_field :topic, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration %>
    <%= f.text_field :duration, class: "form-control" %>
  </div>

  <%= link_to_remove_association "Delete", f %>
  <hr />
</div>
