<div class="form-group">
  <%= f.label :name, "Speaker Name" %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :occupation %>
  <%= f.text_field :occupation, class: "form-control" %>
</div>

<h3>Presentations</h3>

<%= f.fields_for :presentations do |presentations_fields| %>
  <%= render "presentation_fields", f: presentations_fields %>
<% end %>

<div class="links">
  <%= link_to_add_association "Add a Presentation", f, :presentations %>
</div>
