<h2>Listing conferences</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Speaker</th>
      <th>Presentations</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.name %></td>
        <td><%= conference.city %></td>
        <td><%= conference.speaker.name %></td>
        <td><%= conference.speaker.presentations.map(&:topic) %></td>
        <td>
          <%= link_to 'Show', conference %>
          <%= '|' %>
          <%= link_to 'Edit', edit_conference_path(conference) %>
          <%= '|' %>
          <%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Conference', new_conference_path %>
