<h2>Listing assignments</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tasks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.tasks.map(&:name) %></td>
        <td>
          <%= link_to 'Show', assignment %>
          <%= '|' %>
          <%= link_to 'Edit', edit_assignment_path(assignment) %>
          <%= '|' %>
          <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Assignment', new_assignment_path %>
