<%= form_for @user_form do |f| %>
  <% if @user_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_form.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>User details</h3>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :age %><br>
    <%= f.number_field :age, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gender %><br>
    <%= f.select :gender, User.get_genders_dropdown, class: "form-control" %>
  </div>

  <h3>Email details</h3>

  <%= f.fields_for :email do |email_fields| %>
    <%= render "email", email: email_fields %>
  <% end %>

  <h3>Profile details</h3>

  <%= f.fields_for :profile do |profile_fields| %>
    <% render "profile", profile: profile_fields %>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
