<ul>
  <li><%= link_to 'assignments', assignments_path %></li>
  <li><%= link_to 'projects', projects_path %></li>
  <li><%= link_to 'surveys', surveys_path %></li>
  <li><%= link_to 'conferences', conferences_path %></li>
  <li><%= link_to 'songs', songs_path %></li>
  <li><%= link_to 'users', users_path %></li>
</ul>
