<%= form_for @song_form do |f| %>
  <% if @song_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song_form.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :length %>
    <%= f.text_field :length, class: "form-control" %>
  </div>

  <h3>Artist Details</h3>

  <%= f.fields_for :artist do |artist_fields| %>
    <%= render "artist", artist: artist_fields %>
  <% end %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
