<%= form_for @survey_form do |f| %>
  <% if @survey_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_form.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, size: 40, class: "form-control" %>
  </div>

  <h3>Questions</h3>

  <%= f.fields_for :questions do |question_fields| %>
    <%= render "question_fields", f: question_fields %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "Add a Question", f, :questions %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
