<div class="nested-fields">
  <div class="form-group">
    <%= f.label :content, "Question" %>
    <%= f.text_area :content, cols: 30, rows: 2, class: "form-control" %>
    <%= link_to_remove_association "remove", f %>
  </div>

  <h3>Answers</h3>

  <%= f.fields_for :answers do |answer_fields| %>
    <%= render "answer_fields", f: answer_fields %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "Add Answer", f, :answers %>
  </div>

</div>
