<h2>Listing surveys</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Questions</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= survey.questions.map(&:content) %></td>
        <td>
          <%= link_to 'Show', survey %>
          <%= '|' %>
          <%= link_to 'Edit', edit_survey_path(survey) %>
          <%= '|' %>
          <%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Survey', new_survey_path %>
