<div class="nested-fields">
  <table>
    <tr>
      <td>
        <%= f.text_field :name, :hint => 'type the name' %>
      </td>

      <td>
        <%= f.text_field :description, :hint => 'type the name' %>
      </td>

      <td class="done_column">
        <%= f.check_box :done %>
      </td>

      <td><%= link_to_remove_association "remove task", f, :confirm => 'do you really want to do this?' %></td>
    </tr>
  </table>

  <div class="sub_tasks">
    <%= f.fields_for :sub_tasks, :wrapper => 'inline' do |sub_task| %>
      <%= render "sub_task_fields", :f => sub_task %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add sub-task', f, :sub_tasks, :render_options => { :wrapper => 'inline' } %>
    </div>
  </div>
</div>
